.torles{
    text-align: center;
    color: red;
}
main{
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "s s s"
                        "a a a"
                        "f f f";
}

header{
    grid-area: h;
}
header h1{
    text-align: center;
}

nav{
    grid-area: n;
}
nav ul{
    height: 25px;
    display: grid;
    grid-template-columns: 2fr 2fr; 
    text-align: center;
    list-style-type: none;
    background-color: black;
    
}
li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color:red;
}


article{
    grid-area: a;
    
}
#publikus{
    border: 1px solid black;
}

section{
    grid-area: s;
    margin-bottom: 10px;
}

footer{
    grid-area: f;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}


@media screen and (max-width: 700px){
    nav ul{
        display: block;
        
    }
    table {
        font-size: 14px;
        padding: 5px;
        margin: 0;
        overflow-x: auto;
    }
    nav{
        background-color: black;
        padding-bottom: 5px;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr;
        
    }
}

  fieldset {
    border: none;
    padding: 0;
  }
  
  @media only screen and (min-width: 600px) {
    section {
      grid-template-columns: 1fr;
    }
  }
